.App {
  text-align: center;
}

.App-header {
  background-color: #ffffff;
  height: 200px;
  color: black;
}

.App-logo  {
  max-width: 100%;
  height: auto !important;
}

.navbar {
  background-color: #ffffff;
  margin-bottom: 10px;
  padding-right: 15px;
}

.user-form .login-form {
  color: black;
  padding-top: 100px;
}

.navbar a {
  color: #000000;
  margin: 5px;
}

.navbar a:hover {
  color: grey;
}

.navbar a:active {
  color: orange;
}

.App-intro {
  width: 50%;
  margin: auto;
}

.Email {
  color: black;
  padding-bottom: 100px;
}
.EmailDescription {
  color: black;
  padding-top: 100px;
}

