.App {
  text-align: center;
}

.App-header {
  background-color: #B0B0B0;
  height: 200px;
  padding: 20px;
  color: black;
}

.navbar {
  background-color: #B0B0B0;
  text-align: right;
  margin: 0;
  padding-top: 50px;
}

.user-form .login-form {
  color: black;
  padding-top: 100px;
}

.navbar a {
  color: white;
  margin: 5px;
}

.navbar a:hover {
  color: grey;
}

.navbar a:active {
  color: orange;
}

.App-intro {
  width: 50%;
  margin: auto;
}

.Email {
  color: black;
  padding-top: 100px;
}
.EmailDescription {
  color: black;
  padding-top: 100px;
}

